body{ 
    font-family: 'Gemunu Libre', sans-serif;
 
}
h1{
    color: #2343B0;
    text-align: center;
}

p{
    text-align: center;
    color: black !important;
}

.centrarHtml{
    text-align: center;
}
#colorRojo{
    color: #ff0000;
}

.tituloCargoNumeroUno{

    color:blueviolet; 
    font-size: 50px; 
    text-align: center;
}
div#a2 {
    text-align: center;
}
h2.tituloDos{
    color: #2343B0;
}

.contendor{
    background-color: #ff0000;
    color: white;
    text-align: center;
}

.ejemplo{
    color: #ff0000 !important;
}

#ejemplo{
     color: #2343B0;
}
 .textDecorationOverline{
    text-decoration: overline;
    text-decoration-style: double ;
    text-decoration-color: red ;
  
  
 }
 .textDecorationLineThrough{
    text-decoration: line-through;
    text-decoration-style: dotted;
    text-decoration-color: blue ;
  
  
 }
 .textDecorationUnderLine{
    text-decoration: underline;
    text-decoration-color:purple ;
    text-transform: capitalize;

   
 }
 .textDecorationAll{
    
    /* text-decoration:
        overline 
        line-through
        underline
        ;
    text-decoration-color: aquamarine;
    text-decoration-style: wavy; */
    text-decoration: underline blue wavy 10px;
    text-transform: uppercase;

 }
 .minus{
    text-transform: lowercase;
}

h1{
    color: white !important;
    text-shadow: 8px 8px 12px black,
    2px 2px 6px blueviolet ;
}
.card-titulo{
    border-width: 5px;
    border-color: yellow;
    border-style: double;
    background-color: black;
    border-radius: 5px;
    margin-left: 320px;
    margin-right: 320px;
    margin-bottom: 50px;
    padding-top:20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.card-cuerpo{
    border-width: 5px;
    border-color: #424552;
    background-color: white;
    border-radius: 10px;
    border-style: dashed;
    margin:5em;
    padding: 20px;
}

.card-contenido {
    border-width: 5px;
    border-color: black;
    background-color: #424552;
    border-style: groove;
    border-radius: 5px;
    color: white !important;
    margin-right: 90%;
    margin-bottom: 2%;

 
}

.text-white{
    color: white !important;
}

.btn {
    border-width: 2px;
    background-color: rgb(0, 98, 255);
    border-style: solid;
    border-color: rgb(3, 39, 97);
    border-radius: 3px;
}

#contenido{
    margin-left: 28%;
    border-left: 5px solid black;
    padding-left: 10px;

}
.empleos{
    border: 5px solid black;
    background-color: #424552;
    border-radius: 5px;
    margin-right: 80%;
}

.lineaInferior{
    border-bottom: 5px solid black;
}

.center-image{
    margin: 0 0 0 48em;
    border-radius: 20px;
}

.table-center{
margin-left: 48em;
margin-right: 48em;
}
.table-thead{
    background-color: #424552;
    color: white;
    text-justify: auto;
}
.table{
    border-radius: 15px;
    height: 120px;
    width: 300px;
}
.table-tbody{
    background-color: #2343B0;
    color: white;
}



 

