.row-img{
    background-image: url('https://initiate.alphacoders.com/images/121/cropped-1920-1080-1218911.jpg?2389');
    background-size: 1200px 550px;
}
.bg-transparent-primary{
    background-color: #0d6efddb!important;
}