.row-img{
    background-image: url('https://initiate.alphacoders.com/images/121/cropped-1920-1080-1218911.jpg?2389');
    background-size: 1200px 550px;
}
.bg-transparent-secondary{
    background-color: #6c757dde!important;
}